@model IEnumerable<Product>
@{
    ViewData["Title"] = "Products";
}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
<link href="~/css/product.css" rel="StyleSheet" />




    <section class="rightside" style="left:140px;">
    @foreach (Product product in Model)
    {
        <h2>@product.Name</h2>
            <div class="content-product" style="margin-top:15px;">
                <div class="card-product">
                @if(product.Images.Count!=0){
                    <div class="image-product">
                        <div>   
                            <div class="main-image" style="position: relative;">
                            <img src="@Url.Action("GetImage", "product", new { id = product.Images.ElementAt(0).Id})" width="350" height="350" alt="not found" />
                            </div>
                            <ul id="listImage">
                            @for (int i = 0; i < product.Images.Count; i++)
                                {
                                    if (i == 4)
                                    {
                                        break;
                                    }
                                    if (i == 0)
                                    {
                                        <li class="nonact active" style="opacity:1;"><img src="@Url.Action("GetImage", "product", new { id = product.Images.ElementAt(i).Id })" width="70" height="70" alt="not found"/></li>
                                    }
                                    else
                                    {
                                       <li class="nonact" style="opacity:1;"><img src="@Url.Action("GetImage", "product", new { id = product.Images.ElementAt(i).Id })" width="70" height="70"  alt="not found"/></li>
                                    }
                                }  
                            </ul>

                        </div>
                    </div>
                    }

                    <div style="padding-left:10px;">
                    <h6> @product.Name </h6>
                    <h4> @product.Description</h4>
                    <h4>$@product.Price</h4>
                        <p style="color: green; background-color: rgba(43, 88, 43, 0.384); width: fit-content; border-radius: 5px; padding:2px 5px;">InStock</p>

                        <h5>
                            Supplier Name :
                       @*  @foreach (var purchaseItem in Model.purchaseItems)
                        {
                            <span>@purchaseItem.Purchase.Supplier.Name </span>
                        } *@
                        </h5>
                    <h5>Produc Quantity : @product.StockQuantity</h5>
                    <h5>Catigory : @product.Catigory.Name</h5>
                        <div class="line">
                            <div></div>
                        </div>

                        <div class="items">
                            <h5>About This Item</h5>
                        @foreach (var aboutItem in product.AboutItems)
                        {
                                <p><i class="fas fa-check glowing-check"></i>@aboutItem.Description</p>
                        }
@*                             <p>
                                <i class="fas fa-check glowing-check"></i>
                                Quad LED Backlit IPS Display (227 PPI, 400 nits Brightness, Wide Colour (P3), True Tone
                            </p>
                            <p><i class="fas fa-check glowing-check"></i>  Quad LED Backlit IPS Display (227 PPI, 400 nits Brightness, Wide Colour (P3), True Tone</p>
                            <p> <i class="fas fa-check glowing-check"></i> Quad LED Backlit IPS Display (227 PPI, 400 nits Brightness, Wide Colour (P3), True Tone</p>
                            <p> <i class="fas fa-check glowing-check"></i> Quad LED Backlit IPS Display (227 PPI, 400 nits Brightness, Wide Colour (P3), True Tone</p>
                            <p><i class="fas fa-check glowing-check"></i> Quad LED Backlit IPS Display (227 PPI, 400 nits Brightness, Wide Colour (P3), True Tone</p>
 *@                        </div>
                    </div>

                </div>
            </div>
        }
    </section>
<script>
    var mainimage = document.getElementsByClassName("main-image");
    var listnonact = document.getElementsByClassName("nonact");
    for (let i = 0; i < listnonact.length; i++) {
        listnonact[i].onclick = function () {
            for (let i = 0; i < listnonact.length; i++)
                listnonact[i].classList.remove("active");
            listnonact[i].classList.add("active");
            var src = listnonact[i].firstElementChild.getAttribute("src");
            var first = i + 1;
            var number = first/4;
            var index = Math.ceil(number-1);
            mainimage[index].firstElementChild.src = src;  
        }
    }
</script>
